{% extends "base.html" %}
{{ super() }}
{% block app_content %}

{% if current_user.is_authenticated %}
<div class="row">
<h3>Добрый день, {{current_user.first_name}}{% if current_user.middle_name %} {{current_user.middle_name}}{% endif %}!</h3>
<div class='col'>
    <br>
    <br>
    <p>Кратко о программе</p>
<iframe width="700" height="400" src="https://www.youtube.com/embed/9Y_z2EzoPK0?si=5y7jRajFiXtssdGi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</div>
{% else %}
<div class="row">
<h3>Добрый день!</h3>
<p>Для продолжения работы необходимо войти в систему</p>
</div>
{% endif %}

{% endblock %}