{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}
{% block app_content %}
<div class="container">
<div class="row">
  <div class="col">
  <ul class="nav nav-pills justify-content-center">
    {% if form %}
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="offcanvas" aria-current="page" href="#searchFilter" aria-controls="searchFilter">Фильтр</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('individ.individ_table') }}">Сбросить фильтры</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('file.export_excel', key=key) }}">Экспорт .xlsx</a>

    </li>
  </ul>
  </div>

    </div>
    {% if form %}
      <div class="offcanvas offcanvas-start" tabindex="-1" id="searchFilter" aria-labelledby="searchFilterLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="searchFilterLabel">Поисковый фильтр</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            {{render_form(form, action=url_for('individ.search'), method='get')}}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <h2>{{ title }}</h2>
      </div>
      <div class="row">
<div class="col table-div">
  
<table class="table table-bordered table-hover">
    <thead>
        <tr>
          <th class="text-end" click>Nr</th>
            <th class="text-end" click>Индекс индивида</th>
            <th class="text-end" click>Памятник</th>
            <th class="text-end" click>Автор раскопок</th>
            <th class="text-end" click>Регион</th>
            <th class="text-end" click>Возраст</th>
            <th class="text-end" click>Пол</th>
            <th class="text-end" click>Обряд</th>
            <th class="text-end" click>Сохранность</th>
            <th class="text-end" click>Эпоха</th>
            
            <th class="text-end" click>Добавлено</th>
            
        </tr>
    </thead>
    <tbody>
        {% for num, individ in individs %}
            <tr class="clickable-row" data-bs-toggle="modal" data-bs-target="#individ{{individ.id}}">
              <td class="text-start">{{ num }}</td>
                <td class="text-start">{{ individ.index }}</td>
                <td class="text-end">{{ individ.site.name }}</td>
                <td class="text-end">{% for researcher in individ.site.researchers %}{{ researcher }}<br>{% endfor %}</td>
                <td class="text-end">{{ individ.site.region}}</td>
                <td class="text-end">{{ individ.age() }}</td>
                <td class="text-end">{{ individ.sex.sex }}</td>
                <td class="text-end">{{ individ.type }}</td>
                <td class="text-end">{{ individ.preservation }}</td>
                <td class="text-end">{{ individ.epoch if individ.epoch else '' }}</td>
                <td class="text-end">{{ individ.creator.__str__() }} <br> {{ moment(individ.created_at).format('L') }}</td>
                
            </tr>


{% with individ=individ, id=individ.id, url=url_for('individ.delete_individ', individ_id=individ.id)%}

{% include "_modal_table.html" %}
{% include "_modal_warning.html" %}
{% endwith %}
{% with individ=individ, id=individ.file.filename, url=url_for('file.delete_file', filename=individ.file.filename) %}
{% if individ.file %}
{% include "_modal_file.html" %}

{% include "_modal_warning.html" %}

{% endif %}
{% endwith %}

{% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='sort_table.js')}}"></script>
{% endblock %}