{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block app_content %}
<div class="row">
    <h2>Пользователь: {{ user.username }}</h2>
  </div>
  <div class="row">
<h4>Создан - {{ moment(user.created).format('L') }}</h4>
</div>
<div class="row">
<h4>Последний вход - {{ moment(user.last_login).format('L') }}</h4>
</div>
    {% if user == current_user %}

{% with form=profile_form, task='Редактировать профиль', action=url_for('user.edit_profile'), id='editProfile' %}
{% include "_modal.html" %}
{% endwith %}

                {% endif %}
<div class="row" style="margin-top: 30px">
<h4>Добавленные Вами индивиды</h4>
</div>

{% include "_individs.html" %}
{% endblock %}