{% extends "base.html" %}


{% block head %}
{{ super() }}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
 integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
 crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
 integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
 crossorigin=""></script>
 {% endblock %}
 {% endblock %}


{% block app_content %}
<div class="row">
    <h2>{{ title }}</h2>
    <h2>ТЕСТОВАЯ СТРОКА</h2>
</div>
    
<div id="map"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

var map = L.map('map').setView([55.72831139984871, 37.60084112026061], 4);
L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
maxZoom: 17,
minZoom: 3,
attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);
setInterval(function () {
    map.invalidateSize();
    }, 100);
{% for i in sites %}

var marker = L.marker([{{i.lat}}, {{ i.long}}]).addTo(map).bindPopup('{{i.name}} <br> <a href="{{url_for("individ.individs_by_site", site_id=i.id)}}">Индивиды</a');

{% endfor %}
</script>
{% endblock %}