body {
            /* background-color: #B2B2B2; */
            color: #4C4C4C;
            }
            .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.table{
  font-size: 14px;
}

.comment_field {
  padding: 20px 10px;
  line-height: 28px;
}

.alert {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 40%;
}

#map {
  height: 600px;
  }


      #map {
       height: 600px;
       }


#logo {
  margin: 10px
}

.show {
   opacity: 1;
   transition: opacity 1s ease-in;
   -moz-transition: opacity 1s ease-in;
   -webkit-transition: opacity 1s ease-in;
}

.file {
  height: 80vh;
  overflow-y: auto;
}


.clickable-row {
  cursor: pointer;
}

.modal-body div.col {
  border:0.5px solid black;
}

th {
  cursor: pointer;
}


.img-embed {
  max-width: max-content !important;
}

.img-embed {
  display: flex;
}

.img-embed {
  object-fit: contain;
}


