body {
            background-color: #3B3B3B;
            color: #FDFBFB;
            }
            .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
            .input_pages {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.alert {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

      #map {
       height: 600px;
       }