<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{id}}">
    {{task}}
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Редактировать профиль</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
            {{ render_form(form, novalidate=True, action=action) }}
            </div>
        </div>
      </div>
    </div>
  </div>