<div class="modal fade" id="file{{individ.file.id}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog {% if individ.file.filename.split('.')[1] != 'pdf' %}{{'img-embed'}}{% endif %} modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Файл индивида {{individ.index}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body {% if individ.file.filename.split('.')[1] != 'pdf' %}{{'img-embed'}}{% endif %} file">
                <embed class="{% if individ.file.extension != 'pdf' %}{{'img-embed'}}{% endif %}" height="100%" width="100%" src="{{url_for('file.get_file', filename=individ.file.filename)}}" frameborder="0" width="100%" height="400px">
        </div>
        <div class="modal-footer">
      
          <a href="{{url_for('file.get_file', filename=individ.file.filename)}}" class="btn btn-primary" tabindex="-1" target="_blank" role="button">Скачать</a>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{id}}">
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>