
  <!-- Modal -->
  <div class="modal fade" id="{{individ.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
          {% for k, v in individ.as_dict().items()%}
         
            <li class="list-group-item"><strong>{{k}}:</strong> {{v}} </li>
         
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>