    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-start">ID</th>
                <th class="text-end">Название</th>
                <th class="text-end">Расположение</th>
                <th class="text-end">Эпохи</th>
                <th class="text-end">Исследователь</th>
                <th class="text-end">Кем создано</th>
                <th class="text-end">Кем редактировано</th>
            </tr>
        </thead>
       
        
        <tbody>
            {% for site in sites %}
                <tr>
                    <td class="text-start">{{ site.id }}</td>
                    <td class="text-end">{{ site.name }}</td>
                    <td class="text-end">{{ site.regions.federal_district }},<br>{{ site.regions }}</td>
                    <td class="text-end">{% for epoch in site.epochs %}{{ epoch }}<br> {% endfor %}</td>
                    <td class="text-end">{{ site.researcher }}</td>
                    <td class="text-end">{{ site.creator }}</td>
                    <td class="text-end">{{ site.editor }}</td>
                    <td class="text-end">{{ url_for('site.edit_site', site_id=site.id) }}</td>
                </tr>
                {% endfor %}
    
        </tbody>
    </table>
   