{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}

{% block app_content %}


<table class="table table-border">
    <thead>
        <tr>
            <th class="text-start">Index</th>
            <th class="text-end">Памятник</th>
            <th class="text-end">Возраст</th>
            <th class="text-end">Пол</th>
            <th class="text-end">Обряд</th>
            <th class="text-end">Location</th>
            <th class="text-end">Epoch</th>
            <th class="text-end">Researcher</th>
            <th class="text-end">Добавлено</th>
            <th class="text-end">Сохранность</th>
            <th class="text-end">Файл</th>
            <th class="text-end"></th>
            <th class="text-end"></th>
            
        </tr>
    </thead>
    <tbody>
        {% for individ in individs %}
            <tr class="clickable-row" data-bs-toggle="modal" data-bs-target="#FILE">
                <td class="text-start">{{ individ.index }}</td>
                <td class="text-end">{{ individ.site.name }}</td>
                <td class="text-end">{{ individ.age_min }} - {{ individ.age_max }}</td>
                <td class="text-end">{{ individ.sex.sex }}</td>
                <td class="text-end">{{ individ.type }}</td>
                <td class="text-end">{{ individ.site.regions.name }}</td>
                <td class="text-end">{% for epoch in individ.site.epochs %}{{ epoch }}<br> {% endfor %}</td>
                <td class="text-end">{{ individ.site.researcher.__str__() }}</td>
                <td class="text-end">{{ individ.creator.__str__() }} <br> {{ moment(individ.created_at).format('L') }}</td>
                <td class="text-end">{{ individ.preservation }}</td>
                <td class="text-end"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FILE">
                    KEK
                  </button></td>
                <td>
                    <a href="{{url_for('individ.edit_individ', individ_id=individ.id)}}" class="btn btn-primary" tabindex="-1" role="button">Ред</a>
                    </td>
                </td>
                <td>
                <a href="{{url_for('individ.delete_individ', individ_id=individ.id)}}" class="btn btn-primary" tabindex="-1" role="button">Удалить</a>
                </td>
            </tr>

            <div class="modal fade" id="FILE" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit profile</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <embed height="100%" width="100%" src="{{url_for('individ.file', filename=individ.file.filename)}}" frameborder="0" width="100%" height="400px">
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

{% endblock %}