{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}
{% block app_content %}
<div class="container">
<div class="row">
    <div class="col-2 justify-content-center">
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#searchFilter" role="button" aria-controls="searchFilter">
        Фильтр
      </a>
    </div>
    
      <div class="col-2 justify-content-center">
      <a class="btn btn-primary" href="{{ url_for('data.individ_data') }}" role="button">
        Сбросить фильтры
      </a>
    </div>
      
    <div class="col-2 justify-content-center">
      <form method="post", action="{{ action }}">
        <input class="btn btn-primary btn-md" id="reqFile" name="submit" type="submit" value="Экспорт .xlsx">
        </form> 

    </div>

    </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="searchFilter" aria-labelledby="searchFilterLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="searchFilterLabel">Поисковый фильтр</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            {{render_form(form, action=url_for('data.search'), method='get')}}
          </div>
        </div>
      </div>
      <div class="row">
<div class="col">
    <h1>Индивиды</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-start" click>Index</th>
            <th class="text-end" click>Памятник</th>
            <th class="text-end" click>Возраст</th>
            <th class="text-end" click>Пол</th>
            <th class="text-end" click>Обряд</th>
            <th class="text-end" click>Location</th>
            <th class="text-end" click>Epoch</th>
            <th class="text-end" click>Researcher</th>
            <th class="text-end" click>Добавлено</th>
            <th class="text-end" click>Сохранность</th>
        </tr>
    </thead>
    <tbody>
        {% for individ in individs %}
            <tr class="clickable-row" data-bs-toggle="modal" data-bs-target="#{{individ.id}}">
                <td class="text-start">{{ individ.index }}</td>
                <td class="text-end">{{ individ.site.name }}</td>
                <td class="text-end">{{ individ.age_min }} - {{ individ.age_max }}</td>
                <td class="text-end">{{ individ.sex.sex }}</td>
                <td class="text-end">{{ individ.type }}</td>
                <td class="text-end">{{ individ.site.regions.name }}</td>
                <td class="text-end">{% for epoch in individ.site.epochs %}{{ epoch }}<br> {% endfor %}</td>
                <td class="text-end">{{ individ.site.researcher.__str__() }}</td>
                <td class="text-end">{{ individ.creator.__str__() }} <br> {{ moment(individ.created_at).format('L') }}</td>
                <td class="text-end">{{ individ.preservation }}</td>
            </tr>


{% with individ=individ %}
{% include "_modal_table.html" %}
{% include "_modal_file.html" %}
{% endwith %}
{% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='sort_table.js')}}"></script>
{% endblock %}