{% extends "base.html" %}

{{ super() }}

{% block content %}
    <h1>Site input</h1>
    <form action="" method="post" novalidate>
        {{ site_form.hidden_tag() }}
        {% for field in site_form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endfor %}
            </p>
    </form>
    <script>
        var federal_district_select = document.getElementById("federal_district");
        var region_select = document.getElementById("region");

        federal_district.onchange = function()  {

            federal_district = federal_district.value;

            fetch('/submit_site/' + federal_district).then(function(response) {

                response.json().then(function(data) {
                    var optionHTML = '';

                    for (var region of data.regions) {
                        optionHTML += '<option value="' + region.id + '">' + region.name + '</option>';
                    }

                    region_select.innerHTML = optionHTML;
                })

            });
        }
    </script>
{% endblock %}