{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}
{% block app_content %}
<div class="row text-center"><h1>Добавить индивида</h1></div>
<form method="post">
    <div class="row">
        <div class="col">
            {{ form.hidden_tag() }}
    {{ render_hidden_errors(form) }}
    {{ render_field(form.site) }}
    {{ render_field(form.grave_type) }}

            {{ render_field(form.year) }}

            {{ render_field(form.grave_number) }}

        </div>
                <div class="col">
    {{ render_field(form.age_min) }}
    {{ render_field(form.age_max) }}
    {{ render_field(form.sex) }}
                    {{ render_field(form.preservation) }}
                    {{ render_field(form.submit) }}
        </div>
    </div>

</form>

<!--{% for field in form %}-->
<!--{% if field.name == 'preservation' %}-->
<!--{{ field.label}}-->
<!--{{ field(min=1, max=4, action='/main/individ' ) }}-->
<!--{% else %}-->
<!--{{render_field(field)}}-->
<!--{% endif %}-->
<!--{% endfor %}-->

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='novalidate.js')}}"></script>
{% endblock %}
