{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block app_content %}
    <h1>User: {{ user.username }}</h1>
<h3>Account created - {{ user.created }}</h3>
<h3>Last login - {{ moment(user.last_login).format('L') }}</h3>

    {% if user == current_user %}

{% with form=profile_form, task='Редактировать профиль', action=url_for('user.edit_profile'), id='editProfile' %}
{% include "_modal.html" %}
{% endwith %}
                {% endif %}

<table class="table table-border">
    <thead>
        <tr>
            <th class="text-start">ID</th>
            <th class="text-end">Name</th>
            <th class="text-end">Location</th>
            <th class="text-end">Epoch</th>
            <th class="text-end">Researcher</th>
            <th class="text-end">Edit</th>
            
        </tr>
    </thead>
   
    
    <tbody>
        {% for site in sites %}
            <tr>
                <td class="text-start">{{ site.id }}</td>
                <td class="text-end">{{ site.name }}</td>
                <td class="text-end">{{ site.regions.name }}</td>
                <td class="text-end">{% for epoch in site.epochs %}{{ epoch }}<br> {% endfor %}</td>
                <td class="text-end">{{ site.researcher.__str__() }}</td>
                <td class="text-center"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editSite">
                    Edit site
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="editSite" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Site</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                            {{ render_form(site_form, novalidate=True, action=url_for('main.edit_site', site_id=site.id)) }}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
            </tr>
            {% endfor %}

    </tbody>
</table>

{% endblock %}